.advantages {
    height: 250px;
    padding: 10px 100px 0 100px;
    background-color: $main-color;
    &__descr {
        margin-top: 20px;
        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
        width: 500px;
        color: #fff;
    }
    &_hashtag {
        color:#fff;
        font-size: 30px;
        font-weight: 400;
    }
    &-price {
        display: block;
        padding-top: 60px;
    }
    &-time {
        position: relative;
        background-color: $blue-color;
        &_age {
            position: absolute;
            // margin-top: 30px;
            color:#fff;
            font-size: 190px;
            line-height: 20px;
            font-weight: 700;
            top: 50px;
        }
        &__descr {
            margin-top: 55px;
            padding-left: 260px;
        }
    }
    &-second {
        display: flex;
        justify-content: space-between;
        position: relative;
        background-color: $main-color;
    }
    &-item {
        margin-top: 40px;
        &_age {
            position: absolute;
            color:#fff;
            font-size: 190px;
            line-height: 190px;
            font-weight: 700;
            top: 30px;
        }
        &__wrapper {
            margin-top: 10px;
            padding-left: 150px;
            &_second {
                padding-left: 150px;
            }
        }
        h2 {
            font-size: 45px;
        }
    }
    &-day {
        margin-top: 40px;
        position: relative;
        padding-right: 100px;
        &__subheader {
            color: #fff;
            font-size: 24px;
            font-weight: 700;
        }
        &_score {
            position: absolute;
            margin-top: 10px;
            color: #fff;
            font-size: 120px;
            font-weight: 700;
            top: -20px;
        }
        &__wrapper {
            padding-left: 240px;
            h2 {
                color: #fff;
                font-size: 24px;
                line-height: 26px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
}