.advantages {
    height: 250px;
    padding: 60px 100px 0 100px;
    background-color: $main-color;
    &__descr {
        margin-top: 20px;
        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
        width: 500px;
        color: #fff;
    }
    &_time {
        background-color: $blue-color;
    }
    &__item {
        display: flex;
        position: relative;
    }
    &_age {
        position: absolute;
        color:#fff;
        font-size: 190px;
        line-height: 190px;
        font-weight: 700;
    }
    &__wrapper {
        padding-left: 250px;
    }
    &_hashtag {
        color:#fff;
        font-size: 30px;
        font-weight: 400;
    }
}
    