.button {
    width: 250px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: $main-color;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    &:hover {
        background-color: #dd7608;
    }
}