.button {
    width: 230px;
    height: 70px;
    border-radius: 50px;
    border: none;
    background-color: $main-color;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    transition: 0.3s all;
    &:hover {
        background-color: #dd7608;
    }
    &_submit {
        font-size: 18px;
        width: 280px;
        height: 50px;
    }
    &_blue {
        display: inline-block;
        width: auto;
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 0 25px;
        background-color: $blue-color;
        height: 55px;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 55px;
        &:hover {
            background-color: $blue-color;
        }
    }
    &_dark {
        display: inline-block;
        width: auto;
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 0 25px;
        background-color: #A3A3A3;
        height: 50px;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 50px;
        &:hover {
            cursor: default;
            background-color: #A3A3A3;
        }
    }
    &_mini {
        margin-top: 30px;
        height: 45px;
        width: 150px;
    }
}