.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-bottom: 3px solid $main-color;
    padding: 0 100px;
    z-index: 5;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        height: 80px;
    }
    &__logo {
        margin: auto 0;
    }
    &__menu {     
        margin: auto 0;
        ul {
            display: flex;
            justify-content: space-between;
            padding-left: 0;
            margin: 0;
            list-style-type: none;
            a {
                text-decoration: none;
            }
            li {
                padding: 0 13px;
                font-size: 18px;
                color: #2B2A28;
                transition: 0.3s all;
                &:hover {
                    color: $main-color;
                }
            }
        }
    }
    &__contact {
        margin: auto 0;
        display: flex;
        img {
            margin: auto 0;
        }
        a {
            &:hover {
                color: #da7e15;
            }
        }
    }
    &__phone {
        padding-left: 15px;
        font-size: 26px;
        color: $main-color;
        font-weight: 700;
        transition: 0.3s all;
        &:hover {
            text-decoration: none;
        }
    }
}