.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    &__wrapper {
        display: flex;
        justify-content: space-between;
        height: 80px;
        background-color: #fff;
        border-bottom: 2px solid $main-color;
    }
    &__logo {
        margin: auto 0;
    }
    &__menu {     
        margin: auto 0;
        ul {
            display: flex;
            justify-content: space-between;
            padding-left: 0;
            margin: 0;
            list-style-type: none;
            a {
                &:hover {
                    text-decoration: none;
                    color: $blue-color;
                }  
            }
            li {
                padding: 0 13px;
                font-size: 18px;
                color: #2B2A28;
            }
        }
    }
    &__contact {
        margin: auto 0;
        display: flex;
        img {
            margin: auto 0;
        }
        a {
            &:hover {
                color: #da7e15;
            }
        }
    }
    &__phone {
        padding-left: 20px;
        font-size: 26px;
        color: $main-color;
        font-weight: 700;
    }
}