.main {
    &__wrapper {
        padding: 140px 0 210px 0;
        min-height: 650px;
        background: url("../img/bg-main.jpg") (center/cover) no-repeat;
    }
    &__descr {
        margin-top: 25px;
        width: 500px;
    }
}