.measuring {
    height: 800px;
    background: url("../img/bg-measuring.jpg") center (center/cover) no-repeat;
    padding: 120px 100px 0 100px;
    h2 {
        width: 520px;
    }
    &__subtitle {
        width: 420px;
        margin-top: 30px;
        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
    }
}