@media (max-width: 1300px) {
    .header {
        &__logo {
            img {
                width: 170px;
            }
        }
        &__menu {
            ul {
                li {
                    a {
                        padding: 0 10px;
                        font-size: 16px;
                    }
                }
            }
        }
        &__contact {
            img {
                width: 25px;
            }
        }
        &__phone {
            font-size: 22px;
        }
    }
    .product {
        &-title {
            right: 0;
            width: 500px;
        }
        &__brand {
            width: 240px;
            font-size: 20px;
        }
        .title {
            font-size: 40px;
            line-height: 40px;
        }
        &__background {
            width: 670px;
            left: 460px;
        }
        &__tab {
            width: 170px;
        }
    }
    .title {
        font-size: 42px;
        line-height: 42px;
    }
    .advantages {
        &-time {
            &_age {
                font-size: 160px;
            }
            &__descr {
                padding-left: 240px;
            }
        }
        &-item {
            &_age {
                font-size: 170px;
            }
            &__wrapper {
                padding-left: 130px;
            }
            h2 {
                margin-top: 30px;
                font-size: 40px;
            }
        }
        &-day {
            padding-right: 0;
        }
    }
    .measuring {
        height: 680px;
    }
    .production {
        height: 700px;
        background-position-x: -130px;
    }
    .accessories {
        background-position-x: 350px;
        height: 550px;
        padding-top: 80px;
        &__subtitle {
            width: 400px;
        }
        &__carousel {
            img {
                height: 80px;
            }
        }
    }
    .install {
        height: 700px;
        &__wrapper {
            width: 500px;
        }
    }
    .rehau, .grunder, .richmont {
        &__tabs {
            left: 80px;
        }
        &__descr {
            width: 320px;
        }
        &__wrapper {
            top: -330px;
        }
        &__title {
            font-size: 26px;
        }
    }
    .rehau {
        &__img {
            left: 220px;
        }   
    }
    .grunder {
        &__img {
            left: 220px;
        }
    }
    .richmont {
        &__img {
            left: 210px;
        }
    }
    .service {
        height: 560px;
        padding-top: 100px;
    }
}

@media (max-width: 1150px) {
    .header {
        padding: 0 80px;
        &__wrapper {
            height: 60px;
        }
        &__phone {
            font-size: 16px;
        }
        &__menu {
            ul {
                li {
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .main {
        min-height: 500px;
        padding: 80px;
        margin-top: 60px;
        &__descr {
            width: 450px;
        }
    }
    .button {
        font-size: 16px;
        &_blue {
            height: 50px;
            font-size: 13px;
            line-height: 50px;
        }
    }

    .product {
        height: 750px;
        padding: 60px 80px 0 80px;
        &__tab {
            margin: 0 10px;
        }
        &__tabs {
            display: flex;
            justify-content: center;
        }
        &__brand {
            width: 100%;
            text-align: center;
        }
        &-title {
            display: none;
        }
        &__background {
            width: 680px;
            left: 200px;
        }
    }
    .rehau, .grunder, .richmont {
        &__tabs {
            top: 510px;
            left: -140px;
        }
        &__descr {
            width: 320px;
        }
        &__wrapper {
            top: -330px;
            left: 550px;
        }
        &__title {
            font-size: 26px;
        }
        &__img {
            width: 280px;
            top: 30px;
            left: 90px;
        }
    }
    .rehau {
        &__tab {
            &_camera {
                top: -299px;
                left: 419px;
            }
            &_window {
                top: -340px;
                left: 340px;
            }
            &_sealer {
                top: -422px;
                left: 287px;
            }
            &_color {
                left: 252px;
            }
            &_profile {
                top: -113px;
                left: 411px;
            }
        }   
    }
    .grunder {
        &__tab {
            &_camera {
                top: -204px;
                left: 434px;
            }
            &_window {
                top: -288px;
                left: 366px;
            }
            &_sealer {
                top: -416px;
                left: 307px;
            }
            &_color {
                top: -115px;
                left: 293px;
            }
            &_profile {
                top: -80px;
                left: 422px;
            }
        }
        &__img {
            top: 10px;
        }
    }
    .richmont {
        &__tab {
            &_camera {
                top: -253px;
                left: 452px;
            }
            &_window {
                top: -319px;
                left: 388px;
            }
            &_sealer {
                top: -410px;
                left: 323px;
            }
            &_color {
                top: -133px;
                left: 263px;
            }
            &_profile {
                top: -118px;
                left: 373px;
            }
        }
    }
    .advantages {
        padding: 40px 80px 0 80px;
        height: 180px;
        &-time {
            &_age {
                top: 35px;
                font-size: 110px;
            }
            &__descr {
                margin-top: 0;
                padding-left: 160px;
            }
        }
        &_hashtag {
            font-size: 20px;
        }
        &-item {
            margin-top: 0;
            &_age {
                font-size: 150px;
                line-height: 125px;
            }
            &__wrapper {
                padding-left: 110px;
                .title {
                    margin-top: 0;
                    font-size: 28px;
                }
            }
        }
        &-day {
            margin-top: 0;
            &__subheader {
                position: absolute;
                font-size: 20px;
                top: -10px;
            }
            &_score {
                font-size: 100px;
                line-height: 130px;
                top: -10px;
            }
            &__wrapper {
                margin-top: 20px;
                padding-left: 200px;
            }
        }
    
    }
    .measuring {
        height: 620px;
        padding: 80px;
    }
    .production {
        height: 600px;
        margin-top: 30px;
        background-position-x: -170px;
        padding: 80px;
        &__wrapper {
            width: 390px;
        }
        &__subtitle, &__buttons {
            margin-top: 30px;
        }
    }
    .accessories {
        height: 510px;
        padding: 80px;
        &__subtitle {
            margin-top: 30px;
        }
    }
    .install {
        height: 630px;
        padding: 80px;
        &__wrapper {
            width: 400px;
        }
        &__subtitle {
            margin-top: 30px;
        }
    }
    .service {
        padding: 80px;
        height: 520px;
        &__buttons {
            padding-bottom: 30px;
        }
    }
    .footer {
        padding: 60px 80px 0 80px;
        &-social {
            &_info {
                padding-left: 20px;
            }
        }
        &__link {
            padding-left: 20px;
        }
    }
}

@media (max-width: 991px) {
    .header {
        padding: 0 60px;
        &__menu, &__contact {
            display: none;
        }
        &-mobile {
            &__title {
                width: 250px;
            }
        }
    }
    .button {
        &_mini {
            font-size: 12px;
        }
        &_blue {
            font-size: 12px;
        }
    }
    .hamburger {
        display: block;
    }
    .title {
        font-size: 35px;
        line-height: 35px;
        &_white {
            font-size: 32px;
            line-height: 32px;
        }
    }
    .main {
        min-height: 410px;
        padding: 60px;
        &__descr {
            font-size: 16px;
            width: 390px;
        }
    }
    .button {
        font-size: 14px;
        height: 55px;
        width: 190px;
        &_blue {
            width: 180px;
            font-size: 11px;
            line-height: 55px;
        }
        &_dark {
            font-size: 11px;
            line-height: 11px;
            width: auto;
            height: 45px;
        }
    }
    .product {
        padding: 60px;
        &__content {
            min-width: 600px;
        }
        &__tab {
            font-size: 18px;
            line-height: 60px;
            width: 150px;
            height: 60px;
            margin: 0 6px;
        }
        &__background {
            height: 290px;
            width: 500px;
            top: 280px;
        }
    }

    .rehau, .grunder, .richmont {
        img {
            left: 40px;
        }
        &__tabs {
            left: -190px;
        }
        &__title {
            font-size: 20px;
            line-height: 20px;
            width: 250px;
        }
        &__subtitle {
            width: 250px;
            font-size: 14px;
        }
        &__wrapper {
            left: 530px;
        }
    }
    
    .advantages {
        height: 170px;
        padding: 40px 60px 0 60px;
        &__descr {
            margin-top: 12px;
            width: 450px;
            font-size: 16px;
        }
        &-time {
            &_age {
                font-size: 90px;
            }
            &__descr {
                padding-left: 125px;
            }
        }
        &_hashtag {
            font-size: 18px;
        }
        &-item {
            &_age {
                font-size: 100px;
                line-height: 110px;
            }
            &__wrapper {
                padding-left: 80px;
                .title {
                    font-size: 24px;
                }
            }
        }
        &-second {
            justify-content: space-around;
        }
        &-day {
            &_score {
                font-size: 70px;
                line-height: 95px;
            }
            &__wrapper {
                padding-left: 140px;
                .title {
                    font-size: 18px;
                    line-height: 18px;
                }
            }
        }
    }
    .measuring {
        padding: 60px;
        height: 550px;
        &__subtitle {
            margin-top: 25px;
            font-size: 16px;
            line-height: 16px;
        }
    }
    .production {
        height: 530px;
        padding: 60px;
        background-position-x: -340px;
        &__subtitle {
            margin-top: 25px;
            font-size: 16px;
            line-height: 16px;
        }
    }
    .accessories {
        height: 440px;
        padding: 60px;
        background-position-x: 250px;
        &__subtitle {
            width: 450px;
            margin-top: 25px;
            font-size: 18px;
        }
    }
    .install {
        height: 490px;
        padding: 60px;
        background-position-x: -100px;
        &__wrapper {
            width: 370px;
        }
        &__subtitle {
            margin-top: 25px;
            font-size: 18px;
            line-height: 18px;
        }
    }
    .service {
        height: 470px;
        padding: 60px;
    }
    .footer {
        padding: 60px;
        &-phone {
            font-size: 24px;
        }
        &-addr {
            margin-top: 12px;
            &_info {
                font-size: 12px;
            }
        }
        &-email {
            &_info {
                font-size: 12px;
            }
        }
        &-social {
            &__img {
                width: 60px;
            }
            &_info {
                font-size: 16px;
                width: 220px;
            }
        }
    }
}

@media (max-width: 767px) {
    .header {
        padding: 0 40px;
        &-mobile {
            width: 65%;
            padding: 40px;
        }
    }
    .hamburger {
        right: 40px;
    }
    .title {
        font-size: 30px;
        line-height: 30px;
    }
    .main {
        min-height: 350px;
        padding: 40px;
        &__descr {
            width: 340px;
            font-size: 14px;
            margin-bottom: 40px;
        }
    }
    .product {
        padding: 55px 40px 0 40px;
        height: 620px;
        &__content {
            min-width: 450px;
            min-height: 420px;
        }
        &__tab {
            width: 130px;
        }
        &__background {
            display: none;
        }
    }

    .rehau, .grunder, .richmont {
        &__tab {
            height: 40px;
            width: 40px;
            border: 6px solid #ddd;
            &:hover {
                cursor: default;
                background-color: #fff;
                border: 6px solid #DDD;
            }
            &_active {
                background-color: $main-color;
                border: 6px solid #cf6f07;;
                &:hover {
                    cursor: default;
                    background-color: $main-color;
                    border: 6px solid #cf6f07;
                }
            }
        }
        &__descr {
            width: 230px;
        }
        &__wrapper {
            top: -450px;
            left: 460px;
        }
        &__title {
            width: 230px;
        }
        &__subtitle {
            width: 230px;
        }
        &__img {
            width: 230px;
        }
    }
    .rehau {
        &__tab {
            &_camera {
                top: -328px;
                left: 387px;
            }
            &_window {
                top: -358px;
                left: 329px;
            }
            &_sealer {
                top: -435px;
                left: 279px;
            }
            &_color {
                top: -221px;
                left: 260px;
            }
            &_profile {
                top: -181px;
                left: 381px;
            }
        }   
    }
    .grunder {
        &__tab {
            &_camera {
                top: -286px;
                left: 392px;
            }
            &_window {
                top: -360px;
                left: 339px;
            }
            &_sealer {
                top: -427px;
                left: 290px;
            }
            &_color {
                top: -196px;
                left: 271px;
            }
            &_profile {
                top: -156px;
                left: 391px;
            }
        }
    }
    .richmont {
        &__tab {
            &_camera {
                top: -296px;
                left: 412px;
            }
            &_window {
                top: -336px;
                left: 362px;
            }
            &_sealer {
                top: -410px;
                left: 308px;
            }
            &_color {
                top: -196px;
                left: 252px;
            }
            &_profile {
                top: -175px;
                left: 344px;
            }
        }
    }
    .advantages {
        height: 130px;
        padding: 30px 40px 0 40px;
        .title {
            font-size: 25px;
            line-height: 25px;
        }
        &__descr {
            width: 420px;
            font-size: 14px;
        }
        &-time {
            &_age {
                top: 0;
                font-size: 70px;
                line-height: 70px;
            }
            &__descr {
                padding-left: 100px;
            }
            .title {
                font-size: 23px;
            }
        }
        &-item {
            &_age {
                font-size: 60px;
                line-height: 75px;
            }
            &__wrapper {
                padding-left: 43px;
                .title {
                    font-size: 18px;
                }
            }
        }
        &-day {
            &__subheader {
                font-size: 14px;
                top: 12px;
            }
            &_score {
                font-size: 38px;
                line-height: 100px;
            }
            &__wrapper {
                padding-left: 85px;
                .title {
                    font-size: 13px;
                    line-height: 15px;
                }
            }
        }
        &_hashtag {
            font-size: 13px;
        }
    }
    .measuring {
        height: 500px;
        padding: 40px;
        .title {
            width: 400px;
        }
        &__subtitle {
            width: 340px;
            font-size: 14px;
        }
    }
    .production {
        height: 470px;
        padding: 40px;
        background-position-x: -480px;
        &__subtitle {
            font-size: 14px;
            width: 320px;
        }
        &__wrapper {
            width: 320px;
        }
        &__buttons {
            width: 300px;
        }
    }
    .button {
        &_blue {
            width: 130px;
            height: 50px;
            line-height: 11px;
            padding-top: 13px;
        }
        &_dark {
            font-size: 10px;
            height: 35px;
            padding: 0 15px;
        }
    }
    .accessories {
        height: 370px;
        padding: 40px;
        background-position-x: 200px;
        &__subtitle {
            font-size: 14px;
        }
        &__carousel {
            width: 280px;
        }
    }
    .install {
        height: 460px;
        padding: 40px;
        background-position-x: -300px;
        &__wrapper {
            width: 280px;
        }
        &__subtitle {
            font-size: 14px;
        }
    }
    .service {
        height: 400px;
        padding: 40px;
    }
    .footer {
        position: relative;
        height: 280px;
        padding: 10px 60px 20px 60px;
        flex-direction: column;
        justify-content: center;
        &-addr {
            margin-top: 15px;
        }
        &-social {
            margin-top: 20px;
            &_info {
                width: 300px;
            }
            &__img {
                width: 35px;
            }
        }
        &__link {
           position: absolute;
           bottom: 30px;
           left: 50%;
           transform: translateX(-50%);
        }
    }
}

@media (max-width: 575px) {
    .header {
        padding: 0 20px;
        &-mobile {
            width: 75%;
            &_active {
                width: 75%;
            }
            &__title {
                width: 230px;
            }
            &__social {
                &_text {
                    padding-left: 15px;
                }
            }
        }
    }
    .main {
        padding: 40px 20px;
        background-position-x: -230px;
        &__descr {
            width: 230px;
        }
    }
    .title {
        font-size: 26px;
        line-height: 26px;
    }
    .button {
        height: 45px;
        width: 170px;
        &_blue {
            width: 120px;
            height: 48px;
            font-size: 10px;
        }
        &_dark {
            height: 34px;
            font-size: 8px;
            width: auto;
            // padding: 0 8px;
            margin-right: 0;
        }
    }
    .product {
        height: 665px;
        padding: 40px 20px 30px 20px;
        &__brand {
            font-size: 18px;
        }
        &__tabs {
            margin-top: 15px;
        }
        &__tab {
            width: 110px;
            height: 46px;
            font-size: 15px;
            line-height: 46px;
            margin: 0 3px;
        }
        &__content {
            min-width: 270px;
            min-height: 410px;
        }
    }

    .rehau, .grunder, .richmont {
        &__wrapper {
            top: -120px;
            left: 210px;
        }
        &__title {
            width: 300px;
        }
        &__subtitle {
            line-height: 14px;
        }
        &__tabs {
            left: -140px;
        }
        img {
            left: 90px;
            width: 220px;
            top: 0;
        }
    }
    .rehau {
        &__tab {
            &_camera {
                top: -356px;
                left: 386px;
            }
            &_window {
                top: -394px;
                left: 325px;
            }
            &_sealer {
                top: -450px;
                left: 275px;
            }
            &_color {
                top: -266px;
                left: 248px;
            }
            &_profile {
                top: -223px;
                left: 374px;
            }
        }
    }
    .grunder {
        &__tab {
            &_camera {
                top: -300px;
                left: 386px;
            }
            &_window {
                top: -368px;
                left: 333px;
            }
            &_sealer {
                top: -438px;
                left: 287px;
            }
            &_color {
                top: -208px;
                left: 280px;
            }
            &_profile {
                top: -180px;
                left: 380px;
            }
        }
    }
    .richmont {
        &__tab {
            &_camera {
                top: -329px;
                left: 402px;
            }
            &_window {
                top: -385px;
                left: 353px;
            }
            &_sealer {
                top: -419px;
                left: 304px;
            }
            &_color {
                top: -231px;
                left: 243px;
            }
            &_profile {
                top: -210px;
                left: 335px;
            } 
        }
        &__img {
            top: 10px;
        }
    }
    .advantages {
        &-price {
            height: 140px;
        }
        padding: 20px;
        .title {
            font-size: 22px;
            line-height: 22px;
        }
        &__descr {
            width: 260px;
            line-height: 12px;
        }
        &-time {
            h2 {
                margin-top: 12px;
                font-size: 20px;
            }
        }
        &-second {
            height: 200px;
            padding: 20px 40px;
            flex-direction: column;
        }
        &-item {
            &__wrapper {
                margin-top: 0;
            }
            &_age {
                top: 24px;
                line-height: 60px;
            }
        }
        &-day {
            &__wrapper {
                padding-left: 75px;
            }
            .title {
                font-size: 15px;
                line-height: 15px;
            }
        }
    }
    .measuring {
        padding: 40px 20px;
        background-position-x: -400px;
        &__subtitle, .title {
            width: 260px;
        }
    }
    .feed-form {
        margin-top: 25px;
        width: 100%;
    }
    .production {
        padding: 40px 20px;
        background-position-x: -630px;
        background-position-y: -100px;
        height: 450px;
        &__wrapper {
            padding-left: 100px;
            float: left;
            width: 360px;
        }
        &__subtitle {
            line-height: 14px;
            width: 260px;
        }
        &__buttons {
            width: 260px;
        }
    }
    .accessories {
        padding: 40px 20px;
        &__subtitle {
            width: 260px;
            line-height: 14px;
        }
        &__carousel {
            width: 260px;
        }
    }
    .install {
        padding: 40px 20px;
        height: 400px;
        &__wrapper {
            float: left;
        }
        &__subtitle {
            line-height: 14px;
        }
    }
    .service {
        height: 400px;
        padding: 40px 20px;
        &__buttons {
            margin-top: 25px;
        }
    }
    .footer {
        height: 230px;
        padding: 20px;
        &-phone {
            font-size: 20px;
        }
        &-social {
            &_info {
                width: 200px;
                font-size: 12px;
                line-height: 12px;
            }
        }
        &__link {
            margin-top: 10px;
            padding-left: 0;
            font-size: 12px;
        }
    }
    .modal {
        padding: 30px;
        width: 350px;
        &__subtitle {
            float: left;
            padding-right: 30px;
        }
        &__descr {
            float: left;
            padding-right: 30px;
            padding-bottom: 20px;
        }
        &__close {
            right: 25px;
            top: 3px;
        }
        button {
            height: 55px;
            margin: 0 auto;
        }
    }
}

@media (max-width: 395px) {
    .header {
        &-mobile {
            width: 100%;
            &_active {
                width: 100%;
            }
        }
    }
    .product {
        height: 670px;
    }
    .rehau, .grunder, .richmont {
        &__tabs {
            left: -190px;
        }
        &__wrapper {
            left: 220px;
        }
        &__title {
            width: 240px;
        }
        img {
            left: 40px;
        }
    }
    .feed-form {
        width: 100%;
    }
    .modal {
        padding: 20px;
        width: 300px;
        min-height: 370px;
        &__subtitle {
            font-size: 18px;
            padding-right: 30px;
        }
        &__descr {
            margin-top: 0;
            font-size: 14px;
        }
        &__close {
            right: 20px;
            top: 3px;
        }
    }
    .production {
        &__wrapper {
            padding-left: 0;
            width: 260px;
        }
    }
    .service {
        height: 440px;
    }
}