@import 'libs/bootstrap-reboot.min';
@import 'libs/font';

@import 'base/variables';
* {
	font-family: 'Roboto', sans-serif;
}
.container {
	width: 1400px;
	margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/title';
@import 'blocks/buttons';
@import 'blocks/product';
@import 'blocks/advantages';
@import 'blocks/measuring';