@import 'libs/bootstrap-reboot.min';
@import 'libs/font';

@import 'base/variables';
* {
	font-family: 'Roboto', sans-serif;
}
.header, .container, .footer {
	width: 1400px;
	margin: 0 auto;
}

@import 'products/rehau';
@import 'products/grunder';
@import 'products/richmont';

@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/title';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/measuring';
@import 'blocks/forms';
@import 'blocks/production';
@import 'blocks/product';
@import 'blocks/accessories';
@import 'blocks/install';